*{
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    color: #fb2376;
    background: #0a0638;
    font-family: 'Rubik', sans-serif;
    transition: 0.7s;
}
   

  
  *.cambio-color {
    background-color: #B0DAFF;
    color: #32393C;
    transition: 1s;
    
}


/* header */
.title{
    font-size: 50px;
    margin: 10px 5px;
}
.hd{
    display: flex;
    margin: 25px;
    padding: 80px 0px;
}
.img-person{
    border-radius: 10%;
    height: 180px;
    width: 300px;
    margin: auto;
    
}
.img-person:hover{
    box-shadow: 0px 0px 10px #454164;
}
.description{
    margin: 10px auto;
    font-size: 28px;
    font-weight: 500;
}
/* NAV IN HEADER */
.nav-main{
    margin: 10px auto;
    border-bottom: #3F0071 1px solid;
    display: flex;
    flex-flow: row wrap;
}

.nav-main a{
    margin:  5px auto;
    padding: 10px;
}

.nav-main a:hover{
        background: #FB2576;
        color: #000000;
        border-radius: 5%;
}


.nav-main-a{
    margin: 10px auto;
    border-bottom: #3F0071 1px solid;
    display: flex;
    flex-flow: row wrap;
}
.nav-main-a a{
    margin:  5px auto;
    padding: 10px;
}
.nav-main-a a:hover{
        background: blue;
        color: #B0DAFF;
        border-radius: 5%;
}


/* END NAV */
/* END header */

/* article */
article{
    margin-bottom: 20px;
}
.work-name{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #150050;
}
.card{
    width: 24%;
    height: auto;
    margin: 5px auto;
}


.work-name h2{
    width: 100%;
    font-size: 50px;
    margin: 20px 0px;
    padding-bottom: 5px;
}
.img-card{
    height: auto;
    width: 85%;
    border-radius: 5px;
}
    .img-card:hover{
        box-shadow: 0px 0px 5px #ffffff;
        border-radius: 10px;
        transition: 0.5s;
    }


    .img-card-a{
        height: auto;
        width: 85%;
        border-radius: 5px;
    }
        .img-card-a:hover{
            box-shadow: 0px 0px 5px #000000;
            border-radius: 10px;
            transition: 0.5s;
        }
    
.card h3{
    font-size: 40px;
}
.card p{
    margin: 10px 0;
    font-size: 18px;

}

/* end article */

/* Animation */

/* End animation */

/* Information */

.img-info{
    width: 20px;
    height: 20px;
}
.plusInfo{
    margin: 5px auto;
}
.info1{
    display: flex;
    flex-flow: row wrap;
    /* text-align: center; */
    margin: 10px auto;
}

.inf{
    margin: auto;
    font-size: 20px;
    padding: 10px 0px;
}
/* progress::-webkit-progress-value {
    background-color: #FD5A8A ;
    
  } */

  .label.progress-color {
    --progress-color: #000000;
  }
  
  .label::-webkit-progress-value {
    background-color: var(--progress-color, #FD5A8A);
  }
  
progress{
    padding: 5px;
   
}
/* End Information */

/* footer */
    .ft{
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        border-top: 0.7px solid #3F0071;
    }
    .ft p{
        margin: auto;
        padding: 15px 0px;
    }
/* end footer */

/* ANIMACION */
  .animated {
    opacity: 0;
    transition: opacity 0.95s ease-in-out;
  }
  
  .fadeIn {
    opacity: 1;
  }

  /* FIN ANIMACION */

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {
    
    .card{
        width: 45%;
        height: auto;
        margin: 15px auto;
    }
    /* .description{
        font-size: 15px;
        font-weight: 900;
        flex-wrap: balanced;
    } */

}
@media only screen and (max-width: 750px){
    .hd{
        display: flex;
        margin: 25px;
        flex-flow: row wrap;
        width: 90%;
    }

    .img-person{
        margin: auto;
        height: auto;
        width: 50%;
    }
}
@media only screen and (max-width: 550px) {
    
    .card{
        width: 90%;
        height: auto;
        margin: 15px auto;
    }
    
}

/* END RESPONSIVE */